<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Display Data</title>
</head>
<body style="text-align:center; margin-top:50px;">
  <h2>Submitted Data</h2>
  <p><b>Name:</b> {{data.name}}</p>
  <p><b>Email:</b> {{data.email}}</p>
  <p><b>Age:</b> {{data.age}}</p>

  <a href="/">Go Back</a>
</body>
</html>
